
body{
    position: absolute;
    padding: 0vw;
    margin: 0vw;
    background-color: #F5EFFF;  /*F6F4F0 F5EFFF F7EDE2*/
    font-family: helvetica; 
}


/* ###########################################NAV######################################################### */

header {
    display: grid;
    grid-template-columns: 1fr;

}
nav{
    order: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    height: 2.5vw;
    font-size: 1.5vw;
    font-weight: bold;
    background-image: url("imgs/pokeball.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 0.5vw;
}

nav img {
    justify-content: start;
    height: 50%;
    width: 30%;
}
nav div:nth-child(3) {
    text-align: end;
}
#main-nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration:none;
    color:#FF3838;
    padding: 1vw 2vw;
}

nav a:hover {
    border-radius: 0.5vw;
    opacity: 45%;
}
 
nav h2:first-child, main h2, footer h2:first-child {
    display: none;
}

/* #################################################################################################### */

h1{
    font-size: 5vw;
    order: 2;
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#home-container {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

/* ###########################################FIGURES######################################################### */

/* figcaption h1{
    margin: 10px;
    font-family: sans-serif;
    size: 10px;
} */

figcaption {
    text-align: center;
    /* margin:5%; */
    padding: 4px;
    font-family: sans-serif;
}

@media all and (min-width: 0px) {
    figure {
    /* flex: 1 1 300px;  */
        /* flex: 0 0 80%;  */
        /* max-width: 400px;
        max-height: 380px;   */
        /* max-width: 50vw; */
        /* max-height: 20vw;   */
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
    figcaption {
    font-size: 5vw;
    }
}

@media all and (min-width: 1155px) {
    figure {
    /* flex: 1 1 300px;  */
        flex: 0 0 40%; 
        /* max-width: 400px;
        max-height: 380px;   */
        max-width: 50vw;
        /* max-height: 20vw;   */
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
    figcaption {
    font-size: 2.5vw;
    }
}

@media all and (min-width: 1580px) {
    figure {
    /* flex: 1 1 300px;  */
    flex: 0 0 30%; 
    /* max-width: 400px;
    max-height: 380px;   */
    max-width: 25vw;
    max-height: 20vw;  
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    }
    figcaption {
    font-size: 1.4vw;
    }
}
figure:hover{
    opacity: 0.9;
    transform: translateY(-5px);
    transition: transform 0.2s ease;
}

figure a{
    text-decoration:none;
    color:#FF3838;
}

figure a:hover{
    opacity: 95%;
}

figure img {
    width: 100%;              
    height: 85%;            
    border-radius: 4px;
    
}

main p {
    margin: 1vw 10vw;
    font-size: 1.5vw;
    padding: 1vw;
}

/* ############################################################################################# */


footer p{
    text-align:center;
    padding:0em;
}

